:root {
    --primary: rgb(255, 97, 97);
    --light-gray-border: rgb(185, 185, 185);
    --border-bottom-light-gray: solid 1px var(--light-gray-border);
}

$theme-colors: (
    "primary": rgb(255, 97, 97),
    "secondary": rgb(212, 212, 212),
    "danger": #ff4136
);
