.checkbox-lg {
    width: 20px;
    height: 20px;
    margin-top: 0.1rem !important;
    &:hover {
        cursor: pointer;
    }
}
.checkbox-label-lg {
    margin-left: 0.6rem;
}
.filter-options-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    font-weight: 300;
    border-bottom: solid 1px #dee2e6;
}