.nav-bar {
    border-bottom: solid 1px rgb(185, 185, 185);
}

.logo {
    color: var(--primary);
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--primary);
    }

    &:hover &_prince {
        &:after {
            transform: scaleX(1);
        }
    }

    &_prince {
        display: inline-block;
        // border-bottom: solid 4px transparent;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px var(--primary);  
            transform-origin: 0% 100%;
            transform: scaleX(0);  
            transition: transform 300ms ease-in-out;
        }
    }

    &_crown {
        transform: scale(1.3);
        fill: var(--primary);
    }
}

.profile {
    border: solid 1px rgb(185, 185, 185);
    border-radius: 20px;

    &_person {
        width: 48px;
    }

    &:hover {
        cursor: pointer;
    }
}